<div class="eqLogic eqLogic-widget allowResize #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;">
  
  <div class="text-center widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
  <div class="text-center">

  <span style="margin-left: 5px;font-size: 0.8em; display:none;" class="cmd noRefresh " data-type="info" data-subtype="string" data-cmd_id="#cmd_etat_id#">Mode : #cmd_etat_name#</span>

<div class="col-xs-12" >
  <div class="row cp_bypass_on">
    <div class="col-sm-12" >
      <a class="btn btn-sm btn-default tooltips" style="font-size:16px!important;width:100%!important;background-color: #4ABAF2!important; color: white!important;" >#title_delestage_centralise#</a>
    </div>
  </div>
  <div class="row cp_zone_on">
    <div class="col-sm-12" >
      <a class="btn btn-sm btn-default tooltips" style="font-size:12px!important;width:100%!important;" >#title_pilotage_zone# : #cmd_zone_name#</a>
    </div>
  </div>
  <div class="row cp_pilotage_buttons">
    <div class="col-sm-12">
      <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_confort_show#" data-cmd_id="#cmd_confort_id#" style="#cmd_confort_style#" ><i class="#cmd_confort_icon#"></i> #cmd_confort_name#</a>
      <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_eco_show#" data-cmd_id="#cmd_eco_id#" style="#cmd_eco_style#" ><i class="#cmd_eco_icon#"></i> #cmd_eco_name#</a>
      <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_horsgel_show#" data-cmd_id="#cmd_horsgel_id#" style="#cmd_horsgel_style#" ><i class="#cmd_horsgel_icon#"></i> #cmd_horsgel_name#</a>
      <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_off_show#" data-cmd_id="#cmd_off_id#" style="#cmd_off_style#" ><i class="#cmd_off_icon#"></i> #cmd_off_name#</a>
      <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_auto_id#" style="#cmd_auto_style#" ><i class="#cmd_auto_icon#"></i> #cmd_auto_name#</a>
    </div>
  </div>
  <div class="row cp_area_normal cp_area">
    <div class="col-sm-6">
      <br>
      <i class="icon jeedom-pilote-conf cp_etat_icon cp_etat_confort" style="font-size:60px;display:none;"></i>
      <i class="icon jeedom-pilote-eco cp_etat_icon cp_etat_eco" style="font-size:60px;display:none;"></i>
      <i class="icon jeedom-pilote-hg cp_etat_icon cp_etat_horsgel" style="font-size:60px;display:none;"></i>
      <i class="icon jeedom-pilote-off cp_etat_icon cp_etat_off" style="font-size:60px;display:none;"></i>
      <br>
      <span class="cp_button_prog" style="font-size:12px;"><i>#title_programme# : 
      <span class="cp_programme_name">#programme_name#</span></i></span>
    </div>
    <div class="col-sm-6 ">
      <br>
      <span style="font-size:14px;">#title_etat#: #cmd_etat_name#</span><br>
      <span style="font-size:14px;">#title_cible#: #temperature_cible#&deg;C</span><br>
      <span style="font-size:14px;">#title_actuelle#: #temperature_actuelle#&deg;C</span>
      <br>       
      <a class="btn btn-sm btn-default tooltips cp_area_button cp_edit_open" ><i class="fas fa-edit" style="font-size:16px;"></i></a>      
      <a class="btn btn-sm btn-default tooltips cp_area_button cp_window_open" ><i class="icon jeedom-fenetre-ouverte" style="font-size:16px;"></i></a>
      <a class="btn btn-sm btn-default tooltips cp_area_button cp_prog_select_open cp_button_prog" ><i class="icon divers-calendar2 " style="font-size:16px;"></i></a>
    </div>
  </div>
  <div class="row cp_area_prog_select cp_area" style="display:none;">
    <div class="col-sm-12" >
        <br>
        <span ><i>#title_select_programmation#</i> : </span>
        <select class="selectCmd cp_prog_select" style="width:80%!important;">
          <option value="0">Default</option>
        </select>
        <br><br>
      <a class="btn btn-sm btn-default tooltips cp_prog_select_close" ><i class="fas fa-reply" style="font-size:16px;"></i> #title_Retour#</a></span>
    </div>
  </div>
  <div class="row cp_area_edit cp_area" style="display:none;">
    <div class="col-sm-10" style="text-align: right!important;">
        <br>
        #title_Mode#  
        <select class="cp_trigger_mode" style="width:50%!important;">
          <option value="-">Choisir ...</option>
          <option value="#cmd_confort_logicalid#" class="cp_mode_button_#cmd_confort_show#">#cmd_confort_name#</option>
          <option value="#cmd_eco_logicalid#" class="cp_mode_button_#cmd_eco_show#">#cmd_eco_name#</option>
          <option value="#cmd_horsgel_logicalid#" class="cp_mode_button_#cmd_horsgel_show#">#cmd_horsgel_name#</option>
          <option value="#cmd_off_logicalid#" class="cp_mode_button_#cmd_off_show#">#cmd_off_name#</option>
          <option value="#cmd_auto_logicalid#" class="cp_mode_button_#cmd_auto_show#">#cmd_auto_name#</option>
        </select><br>
        #title_jusqua# 
        <select class="cp_trigger_time" style="width:50%!important;">
          <option value="1">1h</option>
          <option value="2">2h</option>
          <option value="3">3h</option>
          <option value="4">4h</option>
          <option value="5">5h</option>
          <option value="6">6h</option>
        </select><br>
        #title_puis_mode# 
        <select class="cp_trigger_return_mode" style="width:50%!important;">
          <option value="#cmd_confort_logicalid#" class="cp_mode_button_#cmd_confort_show#">#cmd_confort_name#</option>
          <option value="#cmd_eco_logicalid#" class="cp_mode_button_#cmd_eco_show#">#cmd_eco_name#</option>
          <option value="#cmd_horsgel_logicalid#" class="cp_mode_button_#cmd_horsgel_show#">#cmd_horsgel_name#</option>
          <option value="#cmd_off_logicalid#" class="cp_mode_button_#cmd_off_show#">#cmd_off_name#</option>
          <option value="#cmd_auto_logicalid#" class="cp_mode_button_#cmd_auto_show#">#cmd_auto_name#</option>
        </select>
        <br><br>
    </div>
    <div class="col-sm-2">
      <br>
      <a class="btn btn-sm btn-default tooltips cp_edit_validate" title="#title_Valider#"><i class="fas fa-check" style="font-size:16px;"></i></a><br>
      <a class="btn btn-sm btn-default tooltips cp_edit_close" title="#title_Annuler#"><i class="fas fa-reply" style="font-size:16px;"></i></a>
    </div>
  </div>
</div>


  </div>
  
  <br>
  <span id="cp_debug_text"></span>

  <script>
      
    // ----- Global show of button modes
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_mode_button_no_show').hide();
    
    // ----- Action for buttons
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
    
    // ----- Action for prog select button
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_open").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_prog_select').show();      
    });
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_close").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    
    // ----- Managed sub-window for trigger action
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_edit_open").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_edit').show();      
      
      // ----- Display the right list of timing depending of the current time
      const d = new Date();
      let v_hour = d.getHours();
      var v_html = '';
      for (let i = 1; i < 13; i++) {
        v_hour++;
        if (v_hour == 24) v_hour = 0;
        v_html += '<option value="'+v_hour+'">'+v_hour+'h</option>';
      }
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time ').html(v_html);
      
      // ----- Select the current mode as the default return mode after trigger
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_return_mode option[value="#cmd_etat_value#"]').prop('selected', true);
    });
    
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_edit_close").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_edit_validate").on('click', function () {
      jeedom.cmd.execute({id: '#cmd_trigger_id#', value: {trigger_type: 'until', mode: 'eco', until:'20', return_mode:'auto'}});

      // ----- Close panel
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    // ----- Action for select
    $(".eqLogic[data-eqLogic_uid=#uid#] .selectCmd").on('change', function () {
      jeedom.cmd.execute({id: '#cmd_programme_select_id#', value: {select: $(this).value()}});
      // ----- Change name in prog span
      var v_html = '';
      v_html = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select option[value="'+$(this).value()+'"]').html();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_programme_name').html(v_html);
    });
    
    //$('.eqLogic[data-eqLogic_uid=#uid#] #cp_debug_text').html("etat value :#cmd_etat_value#");
    
    // ----- Show the icon depending on etat
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_etat_icon').hide();
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_etat_#cmd_etat_value#').show();
    
    if ("#bypass_mode#" != 'no') {
    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();   
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_button').hide();   
         

      // ----- Hide pilotage area & buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').hide();    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        
      
      // ----- Show Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').show();
      
    }
    
    else if ("#zone_mode#" != "") {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').show();        

      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();

      // ----- Hide pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').hide();      

      // ----- Hide programme
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();

      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_button').hide();   
    }
    
    else if ("#cmd_pilotage_value#" == "auto") {
      
      // ----- Prepare select input
      var list_prog_str = "#list_programmation#";
      var list_prog = list_prog_str.split(';');
      var v_html = '';
      for (var i in list_prog) {
        var v_item = list_prog[i].split('|');
        v_html += '<option value="'+v_item[0]+'">'+v_item[1]+'</option>';
      }    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select').html(v_html);
      
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select option[value="#programme_id#"]').prop('selected', true);

      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        

      // ----- Show auto area & pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').show();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').show();      
    }
    else {
      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        

      // ----- Show pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').show();      

      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();
    }


  //  $('.eqLogic[data-eqLogic_uid=#uid#]').resize(function() { alert('Resize !');});
    
  </script>

</div>
