<div class="eqLogic eqLogic-widget allowResize #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;background-color:#BGEnedis#!important;">
  
  <div class="text-center widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
  <div class="text-center">

      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#cmd_etat_id#">Mode : #cmd_etat_name#</span><br/>

  <div class="content-xs">
    <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_normal_id#">#cmd_normal_name#</a>
    <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_delestage_id#">#cmd_delestage_name#</a>
    <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_eco_id#">#cmd_eco_name#</a>
    <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_horsgel_id#">#cmd_horsgel_name#</a>
  </div>


  </div>

  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });

  </script>
</div>
