<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width:#width#;height:#height#;">
  
  <div class="text-center widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
  </div>
  
  <div class="col-xs-12 text-center" >
  
    <div class="row cp_bypass_on" style="display:none;">
      <div class="col-sm-12" >
        <a class="btn btn-sm btn-default tooltips" style="font-size:16px!important;width:100%!important;background-color: #4ABAF2!important; color: white!important;" >#title_delestage_centralise#</a>
      </div>
    </div>
    
    <div class="row cp_zone_on" style="display:none;">
      <div class="col-sm-12" >
        <a class="btn btn-sm btn-default tooltips" style="font-size:12px!important;width:100%!important;" >#title_pilotage_zone# : #cmd_zone_name#</a>
      </div>
    </div>
    
    <div class="row cp_pilotage_buttons">
      <div class="col-sm-12 " style="margin: auto;">
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_confort_show#" data-cmd_id="#cmd_confort_id#" style="font-size:22px; #cmd_confort_style#" >&nbsp;<i class="#cmd_confort_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_confort_1_show#" data-cmd_id="#cmd_confort_1_id#" style="font-size:22px; #cmd_confort_1_style#" >&nbsp;<i class="#cmd_confort_1_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_confort_2_show#" data-cmd_id="#cmd_confort_2_id#" style="font-size:22px; #cmd_confort_2_style#" >&nbsp;<i class="#cmd_confort_2_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_eco_show#" data-cmd_id="#cmd_eco_id#" style="font-size:22px; #cmd_eco_style#" >&nbsp;<i class="#cmd_eco_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_horsgel_show#" data-cmd_id="#cmd_horsgel_id#" style="font-size:22px; #cmd_horsgel_style#" >&nbsp;<i class="#cmd_horsgel_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips cp_mode_button_#cmd_off_show#" data-cmd_id="#cmd_off_id#" style="font-size:22px; #cmd_off_style#" >&nbsp;<i class="#cmd_off_icon#"></i>&nbsp;</a>
        <a class="btn btn-sm btn-default cmd tooltips" data-cmd_id="#cmd_auto_id#" style="font-size:22px; #cmd_auto_style#" >&nbsp;<i class="#cmd_auto_icon#"></i>&nbsp;</a>
      </div>
    </div>
    
    <div class="row cp_area_normal cp_area">
      <div class="col-sm-12">
        <table style="width:100%">
        <tr>
        <td style="width:10px;"></td>
        <td style="width:20px;">
          <br>
          <a class="btn btn-sm btn-default tooltips cp_area_button cp_trigger_open" style="#cmd_trigger_style# font-size:22px;" >&nbsp;<i class="#icon_button_trigger# " ></i>&nbsp;</a>
          <br>
          <a class="btn btn-sm btn-default tooltips cp_area_button cp_window_open"  style="font-size:22px;">&nbsp;<i class="#icon_button_window#"></i>&nbsp;</a>
        </td>
        <td style="width:10px;"></td>
        <td >
          <i class="#cmd_confort_large_icon# cp_etat_icon cp_etat_confort" style="font-size:45px;display:none;"></i>
          <i class="#cmd_confort_1_large_icon# cp_etat_icon cp_etat_confort_1" style="font-size:45px;display:none;"></i>
          <i class="#cmd_confort_2_large_icon# cp_etat_icon cp_etat_confort_2" style="font-size:45px;display:none;"></i>
          <i class="#cmd_eco_large_icon# cp_etat_icon cp_etat_eco" style="font-size:45px;display:none;"></i>
          <i class="#cmd_horsgel_large_icon# cp_etat_icon cp_etat_horsgel" style="font-size:45px;display:none;"></i>
          <i class="#cmd_off_large_icon# cp_etat_icon cp_etat_off" style="font-size:45px;display:none;"></i>
          <br>
          <span class="cp_button_prog" style="font-size:12px;"><i><span class="cp_programme_name">#programme_name#</span></i></span>
        </td>
        <td style="width:10px;"></td>
        <td >
          <br>
          <a class="btn btn-sm btn-default tooltips cp_area_button cp_prog_select_open cp_button_prog"  style="font-size:22px;">&nbsp;<i class="#icon_button_prog# "></i>&nbsp;</a>
        </td>
        </tr>
        </table>
      </div>
    </div>
    
    <div class="row cp_area_prog_select cp_area" style="display:none;">
      <div class="col-sm-12" style="font-size:10px!important;text-align:center!important;">
        <span ><i>#title_select_programmation#</i> : </span>
        <select class="selectCmd cp_prog_select" style="font-size:12px!important;">
          <option value="0">Default</option>
        </select>
        <a class="btn btn-sm btn-default tooltips cp_prog_select_close" style="font-size:16px;"><i class="#icon_button_cancel#" ></i> #title_Retour#</a></span>
      </div>
    </div>
    
    <div class="row cp_area_trigger_add cp_area" style="display:none;">
      <div class="col-sm-12" style="font-size:10px!important;">
        <br>
        <table style="width:100%">
        <tr>
        <td >
          <div class="cp_trigger_time_div" style="width:100%">
            <select class="cp_trigger_time">
              <option value="-">#title_Choisir#</option>          
            </select>
          </div>
          <div class="cp_trigger_mode_div" style="width:100%">
            <select class="cp_trigger_mode" style="font-size:10px!important;">
              <option value="-">#title_Choisir#</option>
            </select>
          </div>
  
        </td>
        <td style="width:20px;">
        <a class="btn btn-sm btn-default tooltips cp_trigger_validate" title="#title_Valider#"><i class="#icon_button_validate#" style="font-size:20px;"></i></a>
        <br>&nbsp;<br>
        <a class="btn btn-sm btn-default tooltips cp_trigger_close" title="#title_Annuler#"><i class="#icon_button_cancel#" style="font-size:20px;"></i></a>
        </td>
        </tr>
        </table>
          <span class="cp_trigger_error_msg" style="font-size:12px;color:orange;display:none;"><i>Message</i></span>
          <input type="hidden" class="cp_trigger_time_ref" value="">
        <br>
      </div>
    </div>
    
    <div class="row cp_area_trigger_show cp_area" style="display:none;">
      <div class="col-sm-12" >
        <br>
        <table>
          <tr>
          <td style="text-align: left!important;">
            <span class="cp_trigger_list_show"></span>
          </td>
          <td style="width:10px;"></td>
          <td style="width:22px;">
            <a class="btn btn-sm btn-default tooltips cp_trigger_add" title="#title_Ajouter#"  style="font-size:22px;"><i class="#icon_button_add#"></i></a>
            <br>
            <a class="btn btn-sm btn-default tooltips cp_trigger_close" title="#title_Retour#"  style="font-size:22px;"><i class="#icon_button_cancel#"></i></a>
          </td>
          </tr>        
        </table>
        <br>
      </div>
    </div>
  </div>
  

  <br>
  <span style="margin-left: 5px;font-size: 0.8em; display:none;" class="cmd noRefresh " data-type="info" data-subtype="string" data-cmd_id="#cmd_etat_id#">Mode : #cmd_etat_name#</span>
  <span id="cp_debug_text"></span>

  <script>
      
    /**---------------------------------------------------------------------------
     * Runtime actions
     * 
     * Mainly display updates depending on radiateur status
     * ---------------------------------------------------------------------------
     */

    
    // ----- Global show of button modes
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_mode_button_no_show').hide();
    
    // ----- In trigger Area : Update the list of triggers
    var v_html = '';
    var trigger_list_str = "#cmd_trigger_list#";
    var trigger_list = trigger_list_str.split('|');
    for (var i in trigger_list) {
      var trigger = null;
      if (trigger_list[i] != '') {
        var trigger = trigger_list[i].split(',');
      }
      if ((trigger != null) && (trigger[2] != '')) {
        var v_time = trigger[2].split('(');
        v_time = v_time[0];

        v_html += '&nbsp;&nbsp;<span class="cp_trigger_delete_txt" data-id="'+trigger[1]+'">';
        v_html += '<a class="cp_trigger_delete" data-id="'+trigger[1]+'" style="font-size:18px;"><i class="#icon_button_trash#" ></i></a>&nbsp;&nbsp;';
        v_html += ''+v_time+':';
        v_html += ' \''+trigger[4]+'\'';
        v_html += '</span><br>';
      }

    }
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_list_show').html(v_html);
      
          
    // ----- Show the icon depending on etat
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_etat_icon').hide();
    $('.eqLogic[data-eqLogic_uid=#uid#] .cp_etat_#cmd_etat_value#').show();
    
    if ("#bypass_mode#" != 'no') {
    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();   
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_button').hide();   
         

      // ----- Hide pilotage area & buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').hide();    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        
      
      // ----- Show Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').show();
      
    }
    
    else if ("#zone_mode#" != "") {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').show();        

      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();

      // ----- Hide pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').hide();      

      // ----- Hide programme
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();

      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_button').hide();   
    }
    
    else if ("#cmd_pilotage_value#" == "auto") {
      
      // ----- Prepare select input
      var list_prog_str = "#list_programmation#";
      var list_prog = list_prog_str.split(';');
      var v_html = '';
      for (var i in list_prog) {
        var v_item = list_prog[i].split('|');
        v_html += '<option value="'+v_item[0]+'">'+v_item[1]+'</option>';
      }    
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select').html(v_html);
      
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select option[value="#programme_id#"]').prop('selected', true);

      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        

      // ----- Show auto area & pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').show();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').show();      
    }
    else {
      // ----- Hide Bypass message
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_bypass_on').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_zone_on').hide();        

      // ----- Show pilotage buttons
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_pilotage_buttons').show();      

      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_button_prog').hide();
    }

  //  $('.eqLogic[data-eqLogic_uid=#uid#]').resize(function() { alert('Resize !');});
     
    /**---------------------------------------------------------------------------
     * End of Runtime actions
     * ---------------------------------------------------------------------------
     */
     
     
    /**---------------------------------------------------------------------------
     * Method : $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on()
     * Description : Action for command buttons
     * ---------------------------------------------------------------------------
     */
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
    
    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_open").on()
     * Description : Action to open prog select area
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_open").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_prog_select').show();      
    });

    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_close").on()
     * Description : Action to close prog select area
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select_close").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .selectCmd").on()
     * Description : Action called when a new program is selected
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .selectCmd").on('change', function () {
      jeedom.cmd.execute({id: '#cmd_programme_select_id#', value: {select: $(this).value()}});
      // ----- Change name in prog span
      var v_html = '';
      v_html = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_prog_select option[value="'+$(this).value()+'"]').html();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_programme_name').html(v_html);

      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });

    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_open").on()
     * Description : Open trigger area. On trigger list if list not empty, on
     * add new trigger if lsit is empty
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_open").on('click', function () {
    
      // ----- Look for existing trigger
      if ('#cmd_trigger_list#' != '') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
        $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_trigger_show').show();    
      }
      
      else {
        $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_add").click();
      }

    });    

    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_add").on()
     * Description :
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_add").on('click', function () {
        //fct_cp_trigger_add_open_#uid#();
        
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_trigger_add').show();      
      
      
      //var v_obj = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time ').clone();
      
      // ----- Display the right list of timing depending of the current time
      const d = new Date();
      let v_hour = d.getHours();
      var v_html = '<select class="cp_trigger_time" style="color:grey;"><option value="-">#title_Choisir#</option>';
      //var v_html = '<option value="-">#title_Choisir#</option>';
//      var v_html = '';
      var v_hour_count = v_hour;
      var v_mem = 0;
      for (let i = 0; i < 24; i++) {
        if (i == 1) {
          v_html += '<option value="'+(v_hour_count*60)+'" selected>'+v_hour+'h00</option>';
          v_mem = (v_hour_count*60);
        }
        else {
          v_html += '<option value="'+(v_hour_count*60)+'"  >'+v_hour+'h00</option>';
        }
        v_html += '<option value="'+((v_hour_count*60)+15)+'" >'+v_hour+'h15</option>';
        v_html += '<option value="'+((v_hour_count*60)+30)+'" >'+v_hour+'h30</option>';
        v_html += '<option value="'+((v_hour_count*60)+45)+'" >'+v_hour+'h45</option>';
        v_hour_count++;
        v_hour++;
        if (v_hour == 24) v_hour = 0;
      }
      v_html += '</select>';      
      
      //v_obj.html(v_html);
      
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time_div ').html(v_html);
      //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time_div ').append(v_obj);
      
      //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time ').remove(".value_item");

      //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time ').append(v_html);
      // TBC : sur mobile, ne veut pas selectionner cette heure la ...
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time option[value="'+v_mem+'"]').prop('selected', true);
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time ').css("font-size", "16px");
      
      // ----- Storing reference date without h/m/s
      const v_date = new Date(d.getFullYear(), d.getMonth(), d.getDate(), 0, 0, 0, 0);
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time_ref').value(v_date.getTime());
      
      // ----- In trigger Area : Display only mode supported
      //var v_html = '';
      var v_html = '<select class="cp_trigger_mode" style="color:grey;"><option value="-">#title_Choisir#</option>';
      if ("#cmd_confort_show#" == "show") {
        v_html += '<option value="#cmd_confort_logicalid#">#cmd_confort_name#</option>';
      }
      if ("#cmd_confort_1_show#" == "show") {
        v_html += '<option value="#cmd_confort_1_logicalid#">#cmd_confort_1_name#</option>';
      }
      if ("#cmd_confort_2_show#" == "show") {
        v_html += '<option value="#cmd_confort_2_logicalid#">#cmd_confort_2_name#</option>';
      }
      if ("#cmd_eco_show#" == "show") {
        v_html += '<option value="#cmd_eco_logicalid#">#cmd_eco_name#</option>';
      }
      if ("#cmd_auto_show#" == "show") {
        v_html += '<option value="#cmd_auto_logicalid#">#cmd_auto_name#</option>';
      }
      if ("#cmd_horsgel_show#" == "show") {
        v_html += '<option value="#cmd_horsgel_logicalid#">#cmd_horsgel_name#</option>';
      }
      if ("#cmd_off_show#" == "show") {
        v_html += '<option value="#cmd_off_logicalid#">#cmd_off_name#</option>';
      }          
      v_html += '</select>';      
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_mode_div ').html(v_html);
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_mode ').css("font-size", "16px");
      
    });
    
    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_delete").on()
     * Description : Delete a trigger
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_delete").on('click', function () {
        var v_id = $(this).data('id');
        //$('.eqLogic[data-eqLogic_uid=#uid#] #cp_debug_text').html("id :"+v_id);
        
        // ----- Remove text, will allow for some demay sometimes before widget redisplay
        //$(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_delete_txt[data-id="+v_id+"]").html('- - - - - - - - - -');

        // ----- Close trigger area        
        $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_close").click();
        //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
        //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      

        // ----- Trigger command with time in sec
        jeedom.cmd.execute({id: '#cmd_trigger_id#', value: {trigger_type: 'trigger_delete', id: v_id}});
    });
    
    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_close").on()
     * Description : Close trigger area
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_close").on('click', function () {
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      $('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    /**---------------------------------------------------------------------------
     * Method : $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_validate").on()
     * Description : Validate new trigger for eq.
     * ---------------------------------------------------------------------------
     */
    $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_validate").on('click', function () {
      // ----- Get selected mode
      v_mode = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_mode option:selected').val();
      
      // ----- Get hours and min to add
      v_time = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time option:selected').val();      

      // ----- Check selection are done      
      if ((v_mode == '-') || (v_time == '-')) {
        // ----- missing valid mode escape
        $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_error_msg ').html('#title_missing_mode#');
        $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_error_msg ').show();
                
        return;
      }
      
      // ----- Calculate trigger time (in milli sec)
      const v_now = new Date();
      let v_hour = v_now.getHours();
      v_time_ref = $('.eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_time_ref ').val();
      //v_trigger_time = parseInt(v_time_ref) + ((parseInt(v_time)*60) + parseInt(v_time_min))*60*1000;
      v_trigger_time = parseInt(v_time_ref) + parseInt(v_time)*60*1000;
      
      // TBC : should check if time is already passed or not ....

      // ----- Trigger command with time in sec
      jeedom.cmd.execute({id: '#cmd_trigger_id#', value: {trigger_type: 'trigger_time', mode: v_mode, trigger_time:(v_trigger_time/1000)}});

      // ----- Close panel
      $(".eqLogic[data-eqLogic_uid=#uid#] .cp_trigger_close").click();
      //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_area').hide();
      //$('.eqLogic[data-eqLogic_uid=#uid#] .cp_area_normal').show();      
    });
    
    

  </script>


</div>
